<div>
  <div class="container">
    <div>

      <h5 style="margin-top:20px">सम्पर्क करें</h5>
      <div class="samparksutra">
        <div style="margin:20px">
          <div style="word-spacing: 5px;background-color:#E7E5E5;padding:20px;background-color:white;line-height:23px">
            <div style="text-align :left">
              <div><img height="15px" width="15px" src="assets/images/dot.png" />&nbsp;&nbsp;श्री पंकज
                मिश्रा<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;विशेष कार्याधिकारी
                प्रकाशन<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;विधान परिषद सचिवालय,
                लखनऊ<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;दूरभाष- कार्यालय- 0522-2213581</div>
              <br />
              <br />
              <div><img height="15px" width="15px" src="assets/images/dot.png" />&nbsp;&nbsp;डा0 अमित कुमार
                उपाध्‍याय<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;शोध
                अधिकारी<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;विधान परिषद सचिवालय, लखनऊ</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="clear"></div>

</div>
