<div>
  <div class="container">
    <div id="printableArea">
      <h5 style="margin-top:20px">संसदीय एवं सामाजिक सदभाव समिति</h5>
      <table class="table">
        <tbody *ngFor="let li of data;">
          <br />
          <tr><td colspan="3" style="text-align: center;font-weight: bold;">सभापति- {{li.chairman}}</td></tr>
          <tr *ngFor="let li2 of li.members;let i=index;">
            <td>{{i+1}}</td>
            <td>{{li2.names}}</td>
            <td>{{li2.role}}</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div style="text-align: center;"><br/><input class="btn-primary" type="button" onclick="printDiv('printableArea')" value="Print" /></div>
  </div>
</div>
