<div class="main-container">
  <br />
  <h5 style="margin-top:20px">चित्रवीथिका</h5>
  <br />
  <div>
    <div class="container" style="background-color: white;">
      <div style="padding-top: 10px;">
        <div class="scrollmenu">
          <ul>
            <li routerLinkActive="active"><a routerLink="album13">दिनांक- फरवरी, 2025</a></li>
            <li routerLinkActive="active"><a routerLink="album12">दिनांक- दिसम्बर, 2024</a></li>
            <li routerLinkActive="active"><a routerLink="album11">दिनांक- जुलाई, 2024</a></li>
            <li routerLinkActive="active"><a routerLink="album1">दिनांक- 16 मई, 2023</a></li>
            <li routerLinkActive="active"><a routerLink="album2">दिनांक- 20 अप्रैल, 2023</a></li>
            <li routerLinkActive="active"><a routerLink="album3">दिनांक- 14 फरवरी, 2023</a></li>
            <li routerLinkActive="active"><a routerLink="album4">दिनांक- 11 व 12 दिसम्बर, 2022</a></li>
            <li routerLinkActive="active"><a routerLink="album5">दिनांक- 05 दिसम्बर, 2022</a></li>
            <li routerLinkActive="active"><a routerLink="album6">दिनांक- 26 नवम्बर, 2022</a></li>
            <li routerLinkActive="active"><a routerLink="album7">दिनांक- 21 जुलाई, 2022</a></li>
            <li routerLinkActive="active"><a routerLink="album8">दिनांक- 21 जुलाई, 2022</a></li>
            <li routerLinkActive="active"><a routerLink="album9">दिनांक- 09 व 10 मई, 2022</a></li>
            <li routerLinkActive="active"><a routerLink="album10">आर्काइव गैलरी</a></li>
          </ul>
        </div>
      </div>
      <br />
      <div class="container">
        <div >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
