<div>
  <div class="container">
    <div>
      <h5 style="margin-top:20px;text-align: center;">समितियां</h5>
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" style="color: white">समिति</th>
            <th style="color: white"></th>
          </tr>
        </thead>
        <tbody *ngFor="let li of data;">
          <br />
          <tr>
            <td colspan="2" style="font-weight: bold;">
              <a style="text-align:left;">

                {{li.samiti_Title}}
              </a>
            </td>
            <td><i style="font-weight: bold;">सभापति : </i>{{li.chairman}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
