<div>
  <div style="padding: 20px;">
    <h5 style="margin-top:20px;text-align:center">द्वितीय सदन की उपयोगिता एवं उसका योगदान</h5>
    <div style="word-spacing: 5px;line-height: 200%;text-align:justify">
      <p>इतिहास की दृष्टि से वर्तमान द्विसदनीय प्रणाली का आरम्भ 17वीं शताब्दी में इग्लैण्ड में सांविधानिक सरकार से हुआ
        और इसके पश्चात् 18वीं शताब्दी में यूरोप महाद्वीप में भी इसका प्रचलन शुरू हो गया। एक ओर सामन्त वर्ग तथा पादरियों
        और दूसरी ओर साधारणजनों के बीच अन्तर को ध्यान में रखकर इग्लैण्ड की संसद में दो सदन रखे गये। जब ब्रिटिश उपनिवेश
        अमेरिका में स्थापित किये गये तो उपनिवेशों की विधान सभाओं में ही सदन रखे गये, क्योंकि ये दो प्रकार के हितों का
        प्रतिनिधित्व करते थे, सपरिषद् गवर्नर द्वारा अपने मूल देश का और वहॉ से चुने गये सदस्यों द्वारा वहॉ के मूलवासियों
        का उपनिवेशों ने स्वतंत्रता प्राप्त होने पर अपने लिए दो सदनों वाली पद्धति को मूर्तरूप देने के लिए संविधान बनाया।
      </p>

      <p>जब सारी दुनिया में सांविधानिक सरकारें बनी तो अधिकॉश देशों ने अपने यहाँ के विधान मण्डलों को इंग्लैण्ड अथवा
        संयुक्त राज्य अमरीका के नमूने पर द्विसदनीय बनाया, जिसमें पहला बड़ा सदन जनता द्वारा चुने गये व्यक्तियों का और
        दूसरा छोटा सदन प्रतिबंधित मत पद्धति द्वारा चुने गये लोगों का अथवा मनोनीत सदस्यों अथवा उत्तराधिकारी तत्वों का
        अथवा कुछ विशेष हितों के लिए सीधे चुने गये प्रतिनिधियों अथवा राष्ट्र के भौगोलिक खण्डों द्वारा चुने गये व्यक्तियों
        का होता था।</p>

      <p>जब भारतीय मनीषियों ने देश के लिए अपना संविधान बनाने की सोची तभी से उन्होंने दो सदनों वाले विधान मण्डल पर आधारित
        संसदीय लोकतंत्र को अपनाने का निर्णय किया। सांविधानिक इतिहास के अध्येता जानते हैं कि 1889 में भारतीय नेशनल
        कांग्रेस ने होमरूल योजना बनाई थी, जिसका उद्देश्य देश में प्रतिनिधि संस्थाओं को एक व्यापक आधार प्रदान करना था। इस
        योजना के अनुसार केन्द्र तथा प्रान्तीय विधान मण्डलों में कम से कम आधे सदस्य निर्वाचित होते और इनका निर्वाचन मतदान
        द्वारा होता। </p>

      <p>भारतीयों द्वारा अपना संविधान बनाने की दिशा में पहले भी महत्वपूर्ण कदम 1896 में उठाया गया, जबकि एक व्यापक
        दस्तावेज तैयार किया गया था। यह मसौदा किसने तैयार किया इसके विषय में निश्चित रूप से कुछ नहीं कहा जा सकता, परन्तु
        ऐसा माना जाता है कि दस्तावेज के तैयार करने के पीछे लोकमान्य तिलक तथा डा0 एनीबेसेन्ट की प्रेरणा थी। इसमें यह
        कल्पना की गयी थी कि दो सदनों वाले इस विधान मण्डल को भारतीय संसद कहा जायेगा, जिसके सदस्य भारत राष्ट्र के
        प्रतिनिधि होंगे। इसमें यह भी उल्लिखित था कि विधायी, न्यायिक तथा प्रशासन सम्बन्धी सभी मुख्य शक्तियॉ राष्ट्रीय
        विधान मण्डल के पास होंगी। संसद की कार्यपालिका सम्बन्धी शक्तियों का संचालन प्रधानमंत्री के नेतृत्व में
        मंत्रिमण्डल करेगा।</p>

      <p>प्रथम विश्व युद्ध ने भारतीय विचारकों को देश के भावी सांविधानिक ढॉचे के सम्बन्ध में गम्भीर रूप से सोचने की
        प्रेरणा प्रदान की। 1916 में सर तेज बहादुर सप्रू, एम0 ए0 जिन्ना, दिनशा ई0 वाचा, भूपेन्द्र नाथबसु, पं0 मदन मोहन
        मालवीय, राइट आनरेबुल बी0 एस श्रीनिवास शास्त्री तथा सर इब्राहिम रहमतुल्ला जैसे इम्पीरियल लेजिस्लेटिव कौंसिल के 19
        प्रख्यात सदस्यों ने एक ज्ञापन तैयार किया था, जिसमें यह बताया गया था कि युद्धोत्तर सुधारों की रूपरेखा क्या होगी।
        ज्ञापन में यह मॉग की गयी थी कि केन्द्रीय तथा प्रान्तीय एक्जीक्यूटिव कोंसिलों के आधे सदस्य भारतीय होने चाहिए।
        दिसम्बर, 1916 की प्रसिद्ध कांग्रेस लीग योजना इस सिद्धान्त पर आधारित थी कि सभी विधान मण्डलों में निर्वाचित
        प्रतिनिधियों का पर्याप्त बहुमत हो और देश की सरकार में भारतीयों की भूमिका अधिक महत्वपूर्ण हो। 1919 में ही भारत
        में पर्याप्त संख्या में प्रबुद्ध व्यक्तियों ने यह मांग की कि देश के लिए संविधान तैयार करने का उत्तरदायित्व
        भारतीयों को ही दिया जाना चाहिए। श्रीमती बेसेन्ट ने संयुक्त संसदीय समिति में यह स्पष्ट कर दिया था कि वेस्टमिन्सटर
        में तैयार किया गया कोई भी सांविधानिक प्रलेख भारतीयों को मान्य नहीं होगा। </p>

      <p>उपरोक्त निश्‍चय के परिणाम स्वरूप प्रमुख भारतीयों ने मिलकर ‘‘कामनवैल्थ आफ इंडिया बिल, 1925 तैयार किया जिसमें
        दृढ़तापूर्वक यह घोषणा की गयी कि भारत को भी स्वशासनकारी डोमीनियनों की तरह बराबरी के आधार पर समान उत्तरदायित्व तथा
        विशेषाधिकार प्राप्त हों। इससे भी अधिक व्यापक तथा अधिकारिक योजना उस विशेषज्ञ समिति ने तैयार की जिसके सम्बन्ध में
        सर्वदलीय सम्मेलन ने निर्णय किया था। उस समिति के सभापति पं0 मोतीलाल नेहरू थे और उसमें सर तेज बहादुर सप्रू, सुभाष
        चन्द्र बोस और एम0 ए0 अणे आदि जैसे महान व्यक्ति थे। समिति ने अपना प्रतिवेदन जो स्वराज्य संविधान के नाम से
        प्रसिद्ध है, 1928 में दिया था। इस प्रकार जब से भारतीयों ने एकमत होकर यह मांग करनी शुरू की कि हमें स्वशासन प्रदान
        किया जाय तभी से उसके नेतागण इस बात में एकमत थे कि देश में विशेष रूप से केन्द्र में दो सदनों वाला विधान मण्डल
        होना चाहिए, क्योंकि उन्होंने यह देखा था कि बहुत से लोकतान्त्रिक देशों में विधान मण्डल के दो सदन हैं। और तत्कालीन
        राजनीतिक विचार का मत दो सदनों वाले विधान-मण्डलों के पक्ष में ही था।</p>

      <p>परन्तु फिर भी महात्मा गॉधी तथा मोहम्मद अली जिन्ना देश में द्वितीय सदन रखने के पक्ष में नहीं थे, क्योंकि उनका
        विचार था कि भारत जैसे निर्धन देश के लिए दूसरा सदन रखना निरर्थक होगा और इससे देश पर बहुत आर्थिक बोझ पड़ेगा,
        परन्तु गोलमेज कान्फ्रेस द्वारा स्थापित फैडरल स्ट्रक्चर कमेटी इस मत से सहमत नहीं थी। कमेटी ने अपने तृतीय
        प्रतिवदेन मे दो सदनों वाले विधान मण्डल की कल्पना की थी और यह आशा व्यक्त की थी कि दोनों सदन हालांकि विभिन्न वर्गो
        का प्रतिनिधित्व करेंगे, परन्तु फिर भी वह एक-दूसरे के पूरक होंगे और उनमें किसी भी प्रकार का वैमनस्य नहीं होगा।
        अधिकतर भारतीय प्रतिनिधियों ने इस मत से सहमति प्रकट की, परन्तु यह अनुरोध किया कि धन विधेयकों को पुनःस्थापित करने
        का अधिकार केवल निम्न सदन को ही होना चाहिए। अतः भारत सरकार अधिनियम 1935 में दो सदनों वाले विधान मण्डल रखने का
        प्रावधान किया गया था। उच्च सदन कौंसिल आफ स्टेट्स कहलाया और उसके 156 सदस्य ब्रिटिश इण्डिया के प्रतिनिधि होने थे
        और 104 से अनधिक देशी रियासतों के। निम्न सदन हाउस आफ असैम्बली या फैडरल असैम्बली भी कहा गया। इसमें 250 सदस्य
        ब्रिटिश इण्डिया के प्रतिनिधि होते थे और 125 से अनधिक देशी रियासतों के। कौंसिल आफ स्टेट्स स्थायी निकाय होना था और
        इसे भंग नहीं किया जा सकता था, परन्तु इसके लगभग एक तिहाई सदस्य निश्चित प्रणाली के अनुसार हर तीसरे वर्ष निवृत्त
        होने थे। फैडरल असैम्बली की कालावधि 5 वर्ष की रखी गयी, परन्तु इसे कालावधि समाप्त होने से पहले भी भंग किया जा सकता
        था। वित्त विधेयकों को छोड़कर अन्य कोई भी विधेयक किसी भी सदन में पुनःस्थापित किया जा सकता था। कोई भी विधेयक तब तक
        पारित नहीं माना जा सकता था, जब तक कि दोनों सदनों द्वारा स्वीकार न किया गया हो।</p>

      <p>ब्रिटेन के साथ भारत के लम्बे अरसे तक सम्बन्ध रहने के कारण भारत के संविधान निर्माताओं पर ब्रिटेन की प्रणाली का
        काफी प्रभाव रहा है। संविधान सभा में इस विषय पर काफी चर्चा हुयी कि राष्ट्रीय विधान मण्डल में एक सदन होना चाहिए या
        दो और चर्चा के पश्चात् अन्ततः दो सदन रखने का ही समर्थन किया गया। जहॉ तक इन दोनों सदनों के कार्यो तथा शक्तियों का
        सम्बन्ध है, संविधान निर्माताओं ने ब्रिटेन, कनाडा, आस्ट्रेलिया, दक्षिण अफ्रीका, संयुक्त राज्य अमेरिका तथा
        स्विट्जरलैण्ड के संविधानों का अध्ययन करने के पश्चात् पूर्णरूपेण निश्चित व्याख्या कर दी थी। जिन-जिन देशों में भी
        दो सदनों वाले विधान मण्डल की प्रणाली है, वहां दोनों सदनों की शक्तियां तथा उत्तरदायित्व देशानुसार कुछ अलग-अलग रहे
        हैं, परन्तु भारत के संविधान निर्माताओं ने इन सभी देशों के अनुभवों से लाभ उठाया।</p><br />

      <h3 style="text-decoration: underline;">उत्तर प्रदेश राज्य का सृजन</h3>

      <p>उत्तर प्रदेश राज्य जो आरम्भ में ‘नार्थ-वेस्टर्न प्राविंसेज एण्ड अवध’ के नाम से जाना जाता था। इसे वर्तमान
        भौगोलिक आकार प्राप्त करने में पर्याप्त समय लगा। भारत पर ईस्ट इण्डिया कम्पनी का शासन था। अवध क्षेत्र के अतिरिक्त
        वर्तमान राज्य का शेष भाग बंगाल प्रेसीडेंसी का हिस्सा बन चुका था। सन् 1773 से 1856 की अवधि के मध्य अवध का लगभग
        सम्पूर्ण क्षेत्र ईस्ट इण्डिया कम्पनी के अधिपत्य में आ चुका था। इसके पूर्व सन् 1833 में चार्टर एक्ट बनने के
        पश्चात् भारत में गवर्नर जनरल के पद का सृजन हुआ और प्रशासन का वह क्षेत्र जो उसके अधीन था, गवर्नमेंट ऑफ इण्डिया
        कहा जाने लगा। सन् 1834 में ‘अपर प्राविंसेज’ को ‘नार्थ वेस्टर्न प्राविंसेज’ नाम देते हुये उसे एक राज्य बना दिया
        गया।</p>

      <p>जनवरी 1858 में गवर्नर जनरल लार्ड कैनिंग इलाहाबाद आये और फरवरी माह में ‘नार्थ वेस्टर्न प्राविंसेज’ से दिल्ली
        मण्डल को अलग कर राज्य की स्वतंत्र रूप से लेफ्टिनेंट गवर्नर को दे दिया तथा राज्य की राजधानी इलाहाबाद हो गयी। इसी
        मध्य 1856 में ही अवध को भी इस राज्य में समाहित कर दिया गया तथा यह राज्य ‘नार्थ वेस्टर्न प्राविंसेज एण्ड अवध’
        तत्पश्‍चात् 1902 में ‘नार्थ वेस्टर्न प्राविंसेज ऑफ आगरा एण्ड अवध’ नाम से जाना जाने लगा।</p>

      <p>सन् 1919 में गवर्नमेंट ऑफ इण्डिया एक्ट लागू होने के पश्चात् राज्य में पहली बार लेजिस्लेटिव कौंसिल हेतु निर्वाचन
        हुये तथा लेफ्टिनेंट गवर्नर का पद गवर्नर में परिवर्तित हो गया तथा राज्य के लेफ्टिनेंट गवर्नर सर हरकोर्ट बटलर
        गवर्नर हुये। सन् 1920 में गवर्नमेण्ट हाउस, लखनऊ की एक बैठक में कौंसिल सदस्यों के बहुमत के आधार पर कौंसिल हाउस का
        निर्माण इलाहाबाद के स्थान पर लखनऊ में किये जाने का निर्णय लिया गया। इस निर्णय के परिणाम स्वरूप लखनऊ में विधान
        मण्डल की बैठकों के लिये एक स्थायी भवन बनने के पश्‍चात् लेजिस्लेटिव कौंसिल की बैठकें लखनऊ में होने लगीं, जिससे
        गवर्नर, मंत्री और विभागों के सचिव का ज्यादातर समय लखनऊ में व्यतीत होने लगा। सर बटलर ने भी अपना मुख्यालय इलाहाबाद
        से लखनऊ स्थानान्तरित कर लिया। 1935 तक राजधानी इलाहाबाद से लखनऊ स्थानान्तरित हो गयी। अप्रैल 1937 में राज्य का नाम
        ‘यूनाइटेड प्राविंसेज’ हो गया। 26 जनवरी, 1950 को स्वाधीन भारत का संविधान लागू होने पर राज्य का नाम उत्तर प्रदेश
        कर दिया गया।</p> <br />

      <h3 style="text-decoration: underline;">विधान परिषद का गठन </h3>

      <p> उत्तर प्रदेश में विधान मण्डल के सदन का प्रारम्भ ‘इण्डियन कौंसिल एक्ट’, 1861 के द्वारा हुआ। इस अधिनियम में
        बम्बई, मद्रास, कलकत्ता, नार्थ वेस्टर्न प्राविंसेज एण्ड अवध वर्तमान उत्तर प्रदेश तथा पंजाब में विधान परिषदों की
        स्थापना हेतु प्राविधान था, जिससे उस समय स्थित विधान परिषदों मे, जो केवल कार्यपालन परिषदों के रूप में थे, कुछ नाम
        निर्देशित अशासनिक व्यक्तियों को सम्मिलित कर विधान मण्डल के सदस्यों के रूप में स्थापित किया जा सके। </p>

      <p>सन् 1868 में नार्थ वेस्टर्न प्राविंसेज एण्ड अवध के उपराज्यपाल सर विलियम म्योर ने नार्थ वेस्र्टन प्राविंसेज एण्ड
        अवध में भी एक विधान परिषद का गठन किये जाने हेतु भारत के गवर्नर जनरल और सेक्रेटरी ऑफ स्टेट को पत्र लिखकर आग्रह
        किया, परन्तु उस पर कोई कार्यवाही नहीं हुई। तत्पश्‍चात् सन् 1885 में नार्थ वेस्टर्न प्राविंसेज एण्ड अवध के
        राज्यपाल सर अल्फ्रेड लायल द्वारा भारत सरकार को पूर्व में ही बंगाल, मद्रास तथा बम्बई में इस प्रकार की विधान परिषद
        की स्थापना हो जाने के सम्बन्ध में अवगत कराया गया तथा 1861 के एक्ट के लगभग 25 वर्ष बाद भी विधान परिषद की स्थापना
        यहॉ न होने पर, यहॉ विधान परिषद की स्थापना किये जाने का अनुरोध किया। सर अल्फ्रेड लायल के इस अनुरोध पर भारत सरकार
        नें सेक्रेटरी ऑफ स्टेट को पत्र लिखकर यह आग्रह किया कि उत्तर पश्चिमी प्रान्त और अवध की जनसंख्या मद्रास या मुम्बई
        प्रेसीडेंसी से भी अधिक है, अतः यहॉ विधान परिषद की स्थापना किया जाना अति आवश्यक है। उनके इस आग्रह का परिणाम, 26
        नवम्बर, 1886 को जारी एक विज्ञप्ति, जो उत्तरी पश्चिमी प्रान्त और अवध में विधान परिषद की स्थापना किये जाने के
        सम्बन्ध में थी, के फलस्वरूप 05 जनवरी, 1887 को प्रान्त की प्रथम विधान परिषद का स्वरूप एक सरकारी विज्ञप्ति के रूप
        में सामने आया। </p>

      <p>8 जनवरी, 1887 का दिन संयुक्त प्रान्त के लिये शुभ दिन था, जब संयुक्त प्रान्त ने एक नये युग की दहलीज़ पर कदम रखा।
        जिसका शुभारम्भ थार्नहिल मेमोरियल हाल इलाहाबाद में विधान परिषद की प्रथम बैठक से हुआ। इस प्रथम बैठक के समय विधान
        परिषद की सदस्य संख्या-9 थी, जिनका कार्यकाल 2 वर्ष था 3 नवम्बर, 1892 को ब्रिटिश पार्लियामेंट द्वारा भारत में
        विधान परिषदों के सुधार के लिये बनाया गया ‘इण्डियन कौंसिल एक्ट’, 1892 प्रभावी होने के पश्‍चात् स्थापित विधान
        परिषदों में सर्वप्रथम कुछ संस्थाओं द्वारा निर्वाचन के पश्‍चात् संस्तुत सदस्यों के नाम निर्देशन के संबंध में
        प्राविधान किया गया। इसमें उत्तर पश्चिमी प्रान्त व अवध की विधान परिषद के लिये 15 सदस्यों का प्राविधान था, जिनमें
        से 7 राज्यपाल द्वारा नाम निर्देशित होते थे तथा 8 ऐसे सदस्य थे जो विभिन्न संस्थाओं द्वारा निर्वाचित किये जाने के
        पश्‍चात् विधान परिषद का सदस्य मनोनीत किये जाने हेतु उपराज्यपाल को संस्तुत किये जाते थे। 1902 के पश्‍चात् आगरा व
        अवध को संयुक्त प्रान्त कहे जाने वाले इस राज्य में इण्डियन कौंसिल एक्ट 1909 के प्राविधानों के तहत विधान परिषद के
        सदस्यों की संख्या 46 हो गयी। जिनमें 20 सरकारी तथा 26 गैरसरकारी सदस्य थे। इन 26 गैरसरकारी सदस्यों में 20
        निर्वाचित एवं 6 नाम निर्देशित सदस्य होते थे। 20 निर्वाचित सदस्यों में इलाहाबाद विश्‍वविद्यालय, बड़ी नगर
        पालिकाओं, विभिन्न जिला परिषदों, जमीदारों, मुस्लिम समुदाय तथा अपर इण्डिया चेम्बर ऑफ कामर्स द्वारा निर्वाचित किये
        जाते थे।</p>

      <p>संयुक्त प्रान्त की विधान परिषद् के विकास में एक महत्वपूर्ण युग गवर्नमेंट ऑफ इण्डिया एक्ट, 1919 के द्वारा आया,
        जो गवर्नमेंट ऑफ इण्डिया एक्ट, 1915 का संशोधित रूप था। इसके अन्तर्गत विधान परिषद् के सदस्यों की संख्या बढ़कर 123
        हो गयी। जिनमें 100 निर्वाचित एवं 23 सदस्य राज्यपाल द्वारा मनोनीत होते थे। निर्वाचित सदस्यों में 60 गैर मुस्लिमों
        द्वारा, 29 मुस्लिमों द्वारा, 1 यूरोपियनों द्वारा, 6 जमीदारों द्वारा, 3 व्यापारिक संगठनों द्वारा व 1 इलाहाबाद
        विश्‍वविद्यालय द्वारा निर्वाचित किये जाते थे। इस प्रकार लगभग 50 प्रतिशत सदस्य विभिन्न प्रकार के निर्वाचन मण्डलों
        द्वारा निर्वाचित किये जाते थे। पहली परिषद् में राज्यपाल द्वारा सरकारी 17 के स्थान पर केवल 15 सदस्यों के नाम ही
        निर्देशित किये जाने के कारण 121 सदस्य ही थे। प्रथम बार संयुक्त प्रान्त में द्विसदनीय विधान मण्डल का गठन
        गवर्नमेंट ऑफ इण्डिया एक्ट, 1935 के अन्तर्गत हुआ। इस प्रकार विधान परिषद् विधान मण्डल का द्वितीय सदन बना। उपरोक्त
        अधिनियम की धारा 61 में यह व्यवस्था की गयी कि प्रत्येक विधान परिषद् एक स्थायी इकाई होगी जो कि भंग नहीं होगी,
        किन्तु प्रत्येक तीसरे वर्ष इसके एक तिहाई सदस्य पॉचवी अनुसूची के प्राविधानों के तहत सदस्यता से निवृत्त होते
        जायेंगे। इस सदन की सदस्य संख्या 60 निर्धारित की गई, जिनमें सामान्य निर्वाचकों द्वारा 34, मुस्लिम निर्वाचकों
        द्वारा 17 एवं यूरोपियन निर्वाचकों द्वारा 1 सदस्य निर्वाचित होते थे तथा 8 सदस्य राज्यपाल द्वारा मनोनीत होते थे।
      </p>

      <p>पूर्व में विधान परिषद् का गठन साम्प्रदायिक व अन्य प्रकार के हितों की सुरक्षा को दृष्टिगत रखते हुए उनके
        प्रतिनिधियों को विधान मण्डल में रखने के उद्देश्यों से किया जाता रहा, परन्तु 1950 में संविधान के अन्तर्गत विधान
        परिषद् का गठन गुण, व्यवसाय व राजनैतिक प्रतिनिधित्व के आधार पर किया जाने लगा। तब विधान परिषद् की सदस्य संख्या 60
        से बढ़ाकर 72 कर दी गयी, क्योंकि संविधान के अनुसार विधान परिषद् की सदस्य संख्या विधान सभा की सदस्य संख्या की एक
        चौथाई से अधिक नहीं की जा सकती थी। यद्यपि यह संख्या विधान सभा की सदस्य संख्या 431 की एक चौथाई से काफी कम थी।
      </p>

      <p>संविधान के 7 वें संशोधन अधिनियम, 1956 द्वारा यह प्राविधानित किया गया कि विधान परिषद् की सदस्य संख्या विधान सभा
        के एक चौथाई के बजाय एक तिहाई हो सकती है। इस संशोधन के अनुसार 1958 में विधान परिषद् की सदस्य संख्या 72 से बढ़ाकर
        108 कर दी गई। तब से विधान परिषद् की सदस्य संख्या 108 ही रही, परन्तु 8 नवम्बर, 2000 से उत्तरांचल राज्य के
        अस्तित्व में आने तथा विधान परिषद् के 8 सदस्यों के उत्तरांचल विधान सभा में चले जाने के कारण यहाँ की सदस्य संख्या
        108 से घटकर 100 हो गयी है, जिसमें वर्तमान में विधान सभा निर्वाचन क्षेत्र से 38 स्थानीय प्राधिकारी क्षेत्र से 36
        शिक्षक एवं स्नातक निर्वाचन क्षेत्रों से 8-8 तथा 10 सदस्य राज्यपाल द्वारा मनोनीत हैं।
      </p>
      <br />

      <h3 style="text-decoration: underline;">विधान मण्डल में द्वितीय सदन की उपयोगिता तथा योगदान</h3>
      <p> संसदीय प्रणाली में द्वितीय सदन का अस्तित्व सदियों से चला आ रहा है। वह सदैव ही समय की कसौटी पर खरा उतरा है।
        द्वितीय सदन का लक्ष्य यही होना चाहिये कि वह बहुमत के विचारों के बारे में सही मार्ग निर्देशन करे। विधान मण्डलों
        में द्वितीय सदन की आवश्यकता के सम्बन्ध में एक विचारक सर हेनरी मेन का मंतव्य इस प्रकार है- ष्।दल ापदक व िेमबवदक
        ब्ींउइमत पे इमजजमत जींद दवदमण्ष् विधान परिषद् को प्रदेश के सभी विषयों के विशेषज्ञों एवं विद्वानों का
        प्रतिनिधित्व प्राप्त होने के कारण ये सभी राज्यों में द्वितीय सदन के रूप में उपयोगी सिद्ध हुये हैं। द्वितीय सदन
        विशिष्ट व्यक्तियों की वह प्रशाखा है जो दूसरों के लिये हमेशा ही अनुकरणीय है। </p>

      <p>आर्थिक, सामाजिक तथा राजनीतिक जीवन के विभिन्न पहलू ऐसे होते हैं, जिन पर सदन में गम्भीरता, दूरदृष्टि, स्पष्ट तथा
        निष्पक्षभाव से विचार करने की आवश्यकता होती है। विधान सभा के सदस्य कई बार इस आवश्यकता को पूरा नहीं कर पाते हैं।
        जनता द्वारा निर्वाचित प्रतिनिधि होने के कारण उनके समक्ष कई प्रकार की सीमाएं होती हैं। कभी-कभी दलगत राजनीति भी
        उनके स्वतंत्र तथा निष्पक्ष विचारों में बाधक बनती है, ऐसे समय में द्वितीय सदन अर्थात् विधान परिषद् ही इस कमी को
        पूरा करती है। भारत का एक संघीय स्वरूप है और द्वितीय सदन इसका एक अनिवार्य अंग है। विधान परिषद् का एक मुख्य
        उत्तरदायित्व राज्य के हितों की रक्षा करना है।</p>

      <p>शोरगुल से युक्त वातावरण में जनता द्वारा सीधे निर्वाचित निम्न सदन में अस्थाई बहुमत द्वारा लिये गये निर्णयों की
        तुलना में द्वितीय सदन का गठन इस प्रकार होता है कि वह स्थायी सदन होने के कारण अपेक्षाकृत शान्त वातावरण में
        विवेकपूर्ण तथा संतुलित निर्णय लेने में सक्षम होता है और इस प्रकार संवैधानिक सरकार के कार्य करने में बहुत उपयोगी
        भूमिका अदा करता है।</p>

      <p>विधान सभा द्वारा कभी-कभी जल्दबाजी में विधेयक पारित हो जाते हैं तथा विधेयकों के खण्डों की भाषा अस्पष्ट होने के
        कारण उन्हें न्यायालयों में चुनौती दी जा सकती है, परन्तु द्वितीय सदन सरकार को विधेयक पर पुनर्विचार करने का अवसर
        प्रदान करता है, इससे विधेयक में हर प्रकार से सुधार करने की गुंजाइश बनी रहती है।</p>

      <p>द्वितीय सदन एक वह शक्तिशाली संस्था है जो विधायी तंत्र में अंकुश और संतुलन बनाये रखने का कार्य करती है जो
        संवैधानिक सरकार के कार्यकरण के लिये परम आवश्यक माना जाता है। द्वितीय सदन को संविधान का प्रहरी भी कहा जा सकता है।
      </p>

      <p>जिन राज्यों में विधान परिषद् हैं वहॉ वे उपयोगी सिद्ध हुये हैं। इसका विशेष कारण यह है कि इस सदन को प्रदेश के सभी
        विषयों के विशेषज्ञों एवं विद्वानों का प्रतिनिधित्व प्राप्त होता है। विधान परिषद् के गठन उसकी शक्तियों एवं
        उपलब्धियों में विदेशी शासकों द्वारा निर्मित विधानों के द्वारा समय-समय पर मूलभूत परिवर्तन होते रहे और इस समयावधि
        में देश व प्रदेश में साथ ही साथ स्वतंत्रता संग्राम विभिन्न रूपों में चलता रहा। उत्तर प्रदेश विधान परिषद् के 120
        वर्षो का अस्तित्व राष्ट्रीय स्वातंत्र्य-बोध और आत्म गौरव से युक्त रहा है। </p>

      <p> भारत के स्वाधीनता आन्दोलन में उत्तर प्रदेश विधान परिषद् के कई सदस्यों का विशेष योगदान रहा है, जिन्होंने
        राष्ट्रीय जागरण व आन्दोलन को एक नई दिशा और गति प्रदान की। संयुक्त प्रान्त विधान परिषद् वर्तमान उत्तर प्रदेश
        विधान परिषद् के दो मूर्धन्य सदस्यों पंडित अजुध्या नाथ और सर सैयद अहमद ने भारत के राष्ट्रीय आन्दोलन को विशेष रूप
        से प्रभावित किया।</p>

      <p>पंडित मदन मोहन मालवीय के विधान परिषद् में प्रवेश करते ही स्वतंत्रता संग्राम की रणभेरी के साथ-साथ वहॉ रंगभेद का
        स्वर भी मुखर हो उठा। यहॉ यह कहना कोई अतिशयोक्ति नहीं होगी कि राष्ट्रीय आन्दोलन की ऊष्मा पंडित मालवीय जी के साथ
        ही विधान परिषद् के प्रांगण में प्रविष्ट हो गयी थी। पत्रकार और पत्रकारिता को संरक्षण देने के संबंध में अत्यधिक
        साहस और ओज के साथ विधान परिषद् में एक प्रश्‍न उठाकर सरकार के उत्पीड़न से पत्रकारों को बचाने के लिये संयुक्त
        प्रान्त के परिषद् द्वारा किये गये प्रयासों का प्रारम्भ करने में मालवीय जी का विशेष योगदान रहा है।</p>

      <p> राजनैतिक प्रश्‍नों को विधान परिषद् में उठाने वाले पहले व्यक्ति श्री गंगा प्रसाद वर्मा थे। उन्होंने मौलाना हसरत
        मोहानी से जेल में चक्की चलवाने, ‘स्वराज्य’ अखबार के सम्पादक को जेल में कष्ट देने आदि अनेक विषयों के विरूद्ध आवाज
        उठायी। वे पहले व्यक्ति थे, जिन्होंने विधान परिषद् के लिये लखनऊ में एक हाल के निर्माण की मॉग की थी। सन् 1916 में
        विधान परिषद् की सबसे बड़ी उपलब्धि ‘उत्तर प्रदेश म्युनिसिपैलिटीज बिल’ का पास होना था, उस कानून का मर्म
        जहांगीराबाद का संशोधन था, जिस पर एक तरफ बैरिस्टर सैयद अब्दुर रऊफ तथा रजा अली और दूसरी तरफ पं0 मोती लाल नेहरू,
        डॉ0 तेज बहादुर सप्रू तथा जगत नारायण के मध्य समझौता हुआ था। इस समझौते ने प्रान्त में हिन्दुओं के मध्य एक तीव्र
        आन्दोलन खड़ा कर दिया। जिसके कारण पं0 मोती लाल नेहरू जी को अत्यन्त विरोध का सामना करना पड़ा।</p>

      <p>सन् 1950 से अब तक विधान परिषद् ने अनेक विधेयकों को गम्भीर बहस और विचार-विमर्श के पश्चात् पारित किया, जिनमें
        भूमि सुधार, संशोधन और विकास सम्बन्धी विधेयक हैं जो कि कालान्तर में राज्य का कानून बने।7 फरवरी 1950 को ‘‘उत्तर
        प्रदेश भाषा विधेयक’’ विधान परिषद् द्वारा पारित किया गया, जिसमें यह व्यवस्था की गयी कि सदन में प्रस्तुत समस्त
        विधेयक देवनागरी लिपि में हिन्दी भाषा में होंगे। तत्पश्‍चात् इस पारित विधेयक के द्वारा ही सरकारी कार्य में हिन्दी
        भाषा का उपयोग प्रारम्भ हुआ।</p>

      <p> इसी प्रकार सन् 1950 में ही विधान सभा द्वारा ‘‘उत्तर प्रदेश जमीदारी उन्मूलन तथा भूमि सुधार विधेयक’’ पारित किया
        गया तथा इसे विधान परिषद् को विचारार्थ एवं अनुमोदनार्थ प्रेषित किया गया। यह एक क्रान्तिकारी विधेयक था जिसमें
        सामन्ती व्यवस्था के प्रतीक जमींदार और ताल्लुकेदार भू-स्वामित्व से पृथक किये गये और काश्तकार भू-स्वामी घोषित किये
        गये। विधान परिषद् में 11 सितम्बर से 16 सितम्बर के मध्य इस विधेयक पर गहन विचार-विमर्श हुआ। तत्पश्‍चात् अक्टूबर और
        नवम्बर के बीच लगभग 27 दिनों तक इस विधेयक की एक-एक धारा पर विचार किया गया तथा इसमें लगभग 500 संशोधन किये गये।
        विधान परिषद् में यह विधेयक 30 नवम्बर, 1950 को पारित किया गया। विधान परिषद् द्वारा इसमें प्रस्तावित लगभग सभी
        संशोधन विधान सभा द्वारा स्वीकार कर लिये गये। विधान परिषद् द्वारा पारित भूमि सुधार के क्षेत्र में यह एक ऐतिहासिक
        विधेयक था। इस कानून ने किसानों का व्यापक कल्याण किया जो कि जमींदार की दासता से मुक्त हुआ।</p>

      <p>इसी प्रकार विभिन्न विषयों से संबंधित अनेक विधेयक ऐसे भी है जो या तो सम्यक् संशोधन हेतु प्रवर समिति के सुपुर्द
        कर दिये गये अथवा उनको सदन में ही गहन विचार-विमर्श के उपरान्त पारित कर दिया गया। </p>

      <p>उत्तर प्रदेश विधान परिषद् को त्वरित विधायी कार्य सम्पादित करने का भी श्रेय प्राप्त हुआ, जब सदन ने इलाहाबाद
        विश्‍वविद्यालय संशोधन विधेयक, 1954 को अपनी एक विशिष्ट समिति को संदर्भित किया अगले दिन परिषद् ने संशोधित विधेयक
        पारित कर दिया तथा विधान सभा नें भी इन संशोधनों पर सहमति व्यक्त करते हुये इस विधेयक को पारित कर इसे कानून का
        स्वरूप प्रदान किया। एक अन्य दृष्टान्त भी है जब उत्तर प्रदेश हाईस्कूल तथा इण्टरमीडिएट कालेज शिक्षकों एवं अन्य
        कर्मचारियों के वेतन का भुगतान विधेयक, 1971 भी 12 अगस्त 1971 को सदन की प्रवर समिति को संदर्भित किया। समिति ने
        जन्माष्टमी अवकाश के बावजूद भी बैठक कर विधेयक पर विचार करते हुये 17 अगस्त, 1971 को इसे सदन में प्रस्तुत किया तथा
        व्यापक रूप से संशोधित यह विधेयक विधान परिषद् द्वारा उपरोक्त तिथि को ही पारित कर दिया गया। </p>

      <p>ऐसे भी अनेक अवसर आये हैं जब सदन ने मध्य-रात्रि के पश्चात् भी बैठक कर महत्वपूर्ण विधायी कार्य निस्तारित कर
        इन्हें कानूनी स्वरूप प्रदान किया जो कि व्यापक जनकल्याण का आधार बना। विधान परिषद् में कुछ गैर सरकारी विधेयक भी
        प्रस्तुत किये गये, जिन पर सम्यक विचार-विमर्श भी हुआ। ऐसा ही एक विधेयक सन् 1962 में श्री प्रताप चन्द्र आजाद
        द्वारा ‘‘उत्तर प्रदेश पंचायत राज ;संशोधन, विधेयक, 1961, लाया गया जो दोनों सदनों के विचारोपरान्त अधिनियम बना।</p>

      <p>उत्तर प्रदेश विधान परिषद् ने अपना योगदान सिर्फ सदन तक ही सीमित नहीं रखा है अपितु मिनी सदन अर्थात् संसदीय
        समितियों के माध्यम से भी उत्तर प्रदेश विधान परिषद् ने अपनी सार्थकता सिद्ध की है। यद्यपि परिषद् एवं इसकी समितियों
        के पास कोई प्रशासनिक शक्तियॉ नहीं है, किन्तु समय-समय पर विधान परिषद् ने जनकल्याण से जुड़े विषयों में आई कमियों
        को दूर करने के लिये अपनी दूरदर्शी सूझ का परिचय देते हुये कई समितियों का समय-समय पर निर्माण किया और सरकार का उचित
        मार्गदर्शन किया। उत्तर प्रदेश में इण्टरमीडिएट तक के पब्लिक स्कूल जो उत्तर प्रदेश सरकार से अनापत्ति प्रमाण पत्र
        लेते समय, जो सरकार की शर्ते थीं उनका पालन सुनि‍श्चित नहीं कर रहे थे, उसके लिये विधान परिषद् ने एक जॉच समिति
        बनायी जिसने अपनी संस्तुति सरकार को प्रस्तुत की। इस समिति की समीक्षा बैठकों का पब्लिक स्कूल संचालकों पर इतना
        प्रभाव पड़ा कि उन्होंने इस समिति के विरूद्ध माननीय सुप्रीम कोर्ट में याचिका भी दायर की जिसमें माननीय सुप्रीम
        कोर्ट ने विधान परिषद् सचिवालय को एक नोटिस भी जारी किया याचिका अभी माननीय सुप्रीम कोर्ट में लम्बित है। इस के
        अतिरिक्त वर्तमान में विधान परिषद् की विद्युत व्यवस्था की जॉच समिति तथा प्रदेश के समस्त विकास प्राधिकरणों, आवास
        विकास परिषदों, नगर निगमों तथा जिला पंचायतों में बरती गयी अनिमितताओं की जॉच समिति जनकल्याण के लिये समर्पित होकर
        अपना कार्य कर रही है और सरकार को मार्ग दर्शन दे रही है तथा जन समस्याओं का निदान करने में महती भूमिका निभा रही
        इनके अतिरिक्त विधान परिषद् में कुछ अन्य समितियॉ जैंसे आश्‍वासन समिति, वित्तीय एवं प्रशासकीय विलम्ब समिति,
        विशेषाधिकार समिति, याचिका समिति आदि है। इन समितियों के माध्यम से भी विधान परिषद् जनकल्याण के कार्य कर अपनी
        महत्ता सिद्ध कर रहा है। इनके साथ-साथ मंत्रियों को परामर्श देने के लिये गठित कुछ समितियों में भी विधान परिषद् के
        सदस्यगण सदस्य होते हैं।जिनके सभापति सम्बन्धित मंत्री होते हैं।</p>

      <p>विधान परिषद् की समितियों के अतिरिक्त विधान मण्डल की संयुक्त समितियां भी हैं,जिनमें दोनों सदनों का प्रतिनिधित्व
        होता है। जिन्होंने जनमानस का सम्पूर्ण विश्‍वास और सद्भावना अर्जित की है।</p>

      <p>जनतांत्रिक पद्धति, संसदीय प्रणाली एवं प्रक्रियाओं के क्षेत्र में विधान मण्डल के द्वितीय सदन अर्थात् विधान
        परिषद् का अपने गरिमामय इतिहास एवं परम्परा के बल पर एक उपयोगी एवं प्रमुख विधायी संस्था के रूप में महत्वपूर्ण
        स्थान रहा है। राष्ट्रीयता एवं आत्म गौरव की अभिव्यक्ति के साथ-साथ देश की संसदीय परम्पराओं एवं जनतांत्रिक मूल्यों
        व आस्थाओं की स्थापना, उनके सवंर्द्धन एवं परिष्कार में विधान परिषद् ने अहम् भूमिका निभाई है। विधान मण्डल के
        द्वितीय सदन के रूप में विधान परिषद् का एक गरिमामय स्थान है और इसकी भूमिका प्रभावकारी है। यह विधान परिषदों की
        उपयोगिता ही है कि पूर्व में आन्ध्र प्रदेश में विधान परिषद् को समाप्त कर दिया गया था किन्तु इसकी उपयोगिता और
        महत्व को देखते हुये आन्ध्र प्रदेश में इसे पुर्नजीवित किया गया है।</p>

      <p> प्रायः प्रथम सदन अर्थात् विधान सभा के सामने द्वितीय सदन अर्थात् विधान परिषद् के अस्तित्व को नकारा जाता रहा है।
        इसे अर्थव्यवस्था पर एक अनावश्यक बोझ समझकर अनुपयोगी सिद्ध करने का प्रयास किया जाता है। ऐसा कहा जाता है कि द्वितीय
        सदन अपने स्वरूप में परम्परावादी होते हुये प्रगतिशील विधायी कार्य में बाधक होता है, परन्तु जब देश में राजनैतिक
        अस्थिरता उत्पन्न होती है और शासन व्यवस्था डगमगाने लगती है तब यही द्वितीय सदन अनुच्छेद 83 के अन्तर्गत निर्दिष्ट
        अपने स्थायी होने एवं कभी भंग न होने के कारण अपनी सार्थकता को सिद्ध करता है। राजनैतिक जीवन के कई पहलुओं पर
        दूरदष्टि के साथ ही गम्भीर चिन्तन भी नितांत आवश्यक होता है। जब कभी प्रथम सदन द्वारा प्रस्तुत विधेयकों और संकल्पों
        में यदि कोई दोष और त्रुटि दिखाई देती है, तब ऐसी स्थिति में द्वितीय सदन उस पर अपनी पैनी निगाह डालकर उसके दोषों
        एवं त्रुटियों का विवेचन कर उन्हें दूर करके अपनी सार्थकता और विवेकपूर्ण सोच को सिद्ध करता है। जिन देशों में
        द्वितीय सदन की अवधारणा को स्वीकारा गया है वे मानते हैं कि द्वितीय सदन विभिन्न विधेयकों पर गहन विचार-विमर्श कर एक
        पर्यवेक्षक की भूमिका निभाता है। जहॉ तक उत्तर प्रदेश विधान परिषद् की भूमिका का प्रश्‍न है, ऐसे अनेक विषय है जिन
        पर सदन में प्रस्ताव की या तो सूचना दी गयी या इन प्रस्तावों को प्रस्तुत किया गया अथवा पारित किया गया जो यह
        दर्शाते हैं कि सदन ने प्रदेश में प्रगतिशील विचारों को प्रोत्साहित करते हुये जनता के हितों को पोषित किया है।
        ‘‘जूनियर हाई स्कूल स्तर तक की अनिवार्य निःशुल्क शिक्षा, 1961’’,‘म्यूनिसिपल बोर्ड द्वारा निर्धनों के आवासों का
        अनिवार्य रख-रखाव,’‘राज्य में कुटीर उधोग को बढ़ावा देने हेतु एक बोर्ड का गठन’,‘राज्य सरकार में समान कार्य,समान
        वेतन का सिद्धान्त लागू करना,’‘इण्टरमीडिऐट कक्षाओं में सैन्य शिक्षा अनिवार्य करना,’ ‘ मिलों में कार्यरत् महिलाओं
        के बच्चों हेतु पालनहार की स्थापना,’ ‘माध्यमिक शिक्षा का राष्ट्रीयकरण,’ ‘व्यापारियों द्वारा धर्मदा के प्रयोग पर
        नियंत्रण आदि कुछ ऐसे प्रस्ताव हैं जो सदन में प्रस्तुत किये गये और इन पर गहन चर्चा भी हुई।</p>

      <p>द्वितीय सदन राज्य की विधायिका का महत्वपूर्ण घटक है। विधान निर्माण की प्रक्रिया में अपना बहुमूल्य सुझाव संशोधनों
        के माध्यम से प्रस्तुत करके यह सदन उल्लेखनीय योगदान देता है और प्रदेश के विकास के कार्यो में भी कार्यकारिणी का
        पथ-प्रदर्शन करने में एक अहम् भूमिका निभाता है। एक विधायी निकाय के रूप में जनता की मनोभावनाओं और आकांक्षाओं के
        अनुसार कार्य करते हुए जन सामान्य की समस्याओं को उजागर करने उनकी आकांक्षाओं एवं अपेक्षाओं को मुखरित करने तथा
        उन्हें सरकार तक पहॅुचाने में उत्तर प्रदेश विधान परिषद् का एक सशक्त इतिहास रहा है। </p>

      <p>एक जनतांत्रिक उपकरण के रूप में उत्तर प्रदेश में समाज के उन्नयन और शक्ति की स्थापना के लिए वह सदैव कार्य करता
        रहा है। यह सदन जहॉ एक ओर राष्ट्रीय नेताओं का प्रशिक्षण केन्द्र रहा है, वहीं दूसरी ओर राष्ट्र निर्माण में भी इसकी
        महती भूमिका रहीं है। यह सदन प्रदेश की राजनैतिक, सामाजिक और आर्थिक परिवर्तन सम्बन्धी गतिविधियों का सूत्रधार है,
        जिससे शासन सम्बन्धी नीतियों, योजनाओं और कार्यक्रमों को समुचित दिशा निर्देश मिलता है। यह जिस प्रकार अपनी विधायी
        भूमिका का निर्वहन करता हैं उससे यह स्पष्ट होता है कि यह किसी भी लोकतांत्रिक व्यवस्था के लिये वरदान स्वरूप है।
        वर्तमान राजनैतिक परिस्थिति में यह परम आवश्यक है कि प्रदेशों में उच्च सदन आवश्यक ही नहीं अपितु अपरिहार्य है और
        इन्हें सुदृढ़ बनाये जाने का हर संभव प्रयास होना चाहिये।
      </p>
    </div>
  </div>
</div>
