<div>
    <div class="container">
        <div>
            <div style="background-color:transparent !important;text-align:center"
                    class="col-sm-12 col-md-12 col-lg-12">
                    <h5 style="margin-top:20px">उपसभापति</h5>
                    
                </div>
            

            <table class="table">
                <tr>
                    <th>क्र० सं० </th>
                    <th>नाम</th>
                    <th>कार्यकाल से</th>
                    <th>कार्यकाल तक</th>
                </tr>
                <tr *ngFor="let item of data;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.tenure}}</td>
                    <td>{{item.tenure_to}}</td>
                </tr>
            </table>

        </div>
    </div>
</div>