<div class="container" style="padding: 20px 0 10px 0;">
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">प्रमुख सचिव</div>
    <div class="officers-info">
      <!-- <div><img src="assets/images/home_pic/new_ps.png"></div> -->
      <ul class="list-group">
        <li class="list-group-item">डॉ राजेश सिंह</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">विशेष सचिव एवं वित्त नियंत्रक</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री केशव सिंह</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">विशेष सचिव</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री संजय मेहरोत्रा</li>
        <li class="list-group-item">श्री धनंजय सिंह</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">संयुक्त सचिव</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री मुनेश कुमार</li>
        <li class="list-group-item">श्री हरि प्रताप सिंह</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">उप सचिव</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री संजय कुमार</li>
        <li class="list-group-item">श्री धर्मेन्द्र कुमार मिश्रा</li>
        <li class="list-group-item">श्री सतीश कुमार यादव</li>
        <li class="list-group-item">श्री विकास अग्रवाल</li>
      </ul>

    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">अनु सचिव</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री विनोद कुमार यादव</li>
        <li class="list-group-item">श्री रामेन्द्र भाई पटेल</li>
        <li class="list-group-item">श्री सुभाष प्रसाद</li>
        <li class="list-group-item">श्री अरुण प्रकास शर्मा</li>
        <li class="list-group-item">श्री राजीव तिवारी</li>
        <li class="list-group-item">श्री विनीत कुमार पाण्डेय</li>
        <li class="list-group-item">श्री मनोज कुमार साहनी</li>
        <li class="list-group-item">श्री सुनील कुमार</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">अनुभाग अधिकारी</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्रीमती गीतिका श्रीवास्तव</li>
        <li class="list-group-item">श्री समीर शर्मा</li>
        <li class="list-group-item">श्री संजय कुमार</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">मुख्य सम्पादक</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्रीमती मंजू यादव</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">सम्पादक</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री आबिद रजा</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">शोध अधिकारी</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री अमित कुमार उपाध्याय</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">जनसम्पर्क अधिकारी</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री वसु षेण मिश्रा</li>
        <li class="list-group-item">श्री ओम प्रकाश सिंह यादव</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">विशेष कार्याधिकारी</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री योगेंद्र प्रताप सिंह</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">विशेष कार्याधिकारी (प्रकाशन)</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री पंकज मिश्रा</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">प्रधान निजी सचिव</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री राजेश कुमार</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">निजी सचिव श्रेणी-1</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री जितेंद्र कुमार शर्मा</li>
        <li class="list-group-item">श्री कपिल कुमार श्रीवास्तव</li>
        <li class="list-group-item">श्री राकेश बहादुर सिंह</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">निजी सचिव श्रेणी-2</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री सर्वेश चन्द्र गुप्ता</li>
        <li class="list-group-item">श्री प्रदीप कुमार रघुवंशी</li>
        <li class="list-group-item">श्री बांके बिहारी</li>
        <li class="list-group-item">श्री धर्मेंद्र सिंह</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">निजी सचिव श्रेणी-3</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री विनय कुमार पाण्डेय </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">निजी सचिव श्रेणी-4</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री विजय कुमार मेहरोत्रा</li>
        <li class="list-group-item">श्रीमती सुनीता अग्रवाल</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">प्रमुख प्रतिवेदक</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">रिक्त</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">मुख्य प्रतिवेदक</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री अतुल कुमार सलूजा</li>
        <li class="list-group-item">श्री संजीव कुमार शर्मा</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="officer-info-div col-sm-12">
    <div class="officers-title">वृत्तलेखक</div>
    <div class="officers-info">
      <ul class="list-group">
        <li class="list-group-item">श्री अभय सिंह</li>
        <li class="list-group-item">श्री अर्चित बाजपेई</li>
        <li class="list-group-item">श्री बृजेश यादव</li>
        <li class="list-group-item">श्री आशीष कुमार सिंह</li>
        <li class="list-group-item">श्री अजय कुमार प्रजापति</li>
        <li class="list-group-item">श्री सुधीर कुमार यादव</li>
        <li class="list-group-item">श्री राम प्रकाश पाल</li>
        <li class="list-group-item">श्रीमती माधुरी पाल</li>
        <li class="list-group-item">कुमारी शशि बाला</li>
      </ul>
    </div>
  </div>
</div>
