<div>
    <div class="container">
        <div>
            <input type="image" src="assets/images/back.png" width="48" height="48" onclick="history.go(-1)"
                style="border-radius:100%;padding-top:5px" />

            <h5 style="margin-top:20px">उत्‍तर प्रदेश विधान परिषद के पीठासीन अधिकारी</h5>
            <table class="table border" style="line-height:1.7em">
                <thead>
                    <tr>
                        <th>क्र0 सं0</th>
                        <th>मा0 सदस्य का नाम</th>
                        <th>कार्यकाल से</th>
                        <th>कार्यकाल तक</th>

                    </tr>
                </thead>
                <tbody *ngFor="let li of data">
                    <tr>
                        <td colspan="5"
                            style="text-align: center;font-weight: bold;background-color: #45B39D;color: white">
                            {{li.title}}</td>
                    </tr>
                    <tr *ngFor="let li2 of li.members;let i=index;">
                        <td>{{i+1}}</td>
                        <!-- <td><a >{{li2.name}}</a></td> -->
                        <td><a routerLink="/{{li2.name_eng}}" style="color: #007bff;">{{li2.name}}</a></td>
                        <td>{{li2.tenure}}</td>
                        <td>{{li2.tenure_to}}</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
    <div class="clear"></div>

</div>
