<div>
  <div class="container">
    <div>
      <div>
        <table class="table" style="margin-top:20px">
          <th></th>
          <th style="text-align: center;">सदन सम्‍बन्‍धी जानकारी</th>
          <tr>
            <td>1</td>
            <td><a class="underline" routerLink="/sadanjankari/membersadd">उत्तर प्रदेश विधान परिषद के माननीय सदस्यों
                की सूची (स्थायी/स्थानीय पतें सहित)</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td><a class="underline">विधान परिषद के गठन का स्‍वरूप</a></td>
          </tr>
          <tr>
            <td>3</td>
            <td><a class="underline" routerLink="/sadanjankari/swaroop">विधान परिषद में कुल सदस्‍यों की संख्‍या</a>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td><a class="underline" routerLink="/sadanjankari/committeenamelist" target="_blank">विधान परिषद की
                समितियां एवं उनकी आन्‍तरिक संचालन नियमावली</a></td>
          </tr>
          <tr>
            <td>5</td>
            <td><a class="underline" href="assets/PDF/RULES_OF_PROCEDURE _English.pdf" target="_blank">विधान परिषद की
                प्रक्रिया एवं कार्य संचालन नियमावली (अंग्रेजी )</a></td>
          </tr>
          <tr>
            <td>6</td>
            <td><a class="underline" href="assets/PDF/VP_rajpatrit_pad.pdf" target="_blank">उत्‍तर प्रदेश विधान परिषद
                में उपलब्‍ध राजपत्रित पदों का विवरण</a></td>
          </tr>
          <tr>
            <td>7</td>
            <td><a class="underline" href="assets/PDF/VP_Arajpatrit_pad.pdf" target="_blank">उत्‍तर प्रदेश विधान परिषद
                में उपलब्‍ध अराजपत्रित पदों का विवरण</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
